<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	">
	<!--
		使用无参构造器来创建对象。
		id属性：要求唯一 。
		class属性：要写类的完整的名称。
	 -->
	<bean id="userSys" class="entity.UserSys">
		<property name="name" value="Mike"/>
		<property name="age" value="26"/>

	</bean>


</beans>